[submodule "deps/sfml"]
	path = deps/sfml
	url = https://github.com/cyanskies/SFML
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = http://github.com/cyanskies/yaml-cpp
[submodule "deps/zlib"]
	path = deps/zlib
	url = http://github.com/cyanskies/zlib
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/cyanskies/imgui
[submodule "deps/plf_colony"]
	path = deps/plf_colony
	url = https://github.com/cyanskies/plf_colony
[submodule "deps/imguifiledialog"]
	path = deps/imguifiledialog
	url = https://github.com/cyanskies/ImGuiFileDialog
