[submodule "deps/sfml"]
	path = deps/sfml
	url = https://github.com/cyanskies/SFML
[submodule "deps/hades"]
	path = deps/hades
	url = https://github.com/cyanskies/hades
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = http://github.com/cyanskies/yaml-cpp
[submodule "deps/zlib"]
	path = deps/zlib
	url = http://github.com/cyanskies/zlib
[submodule "deps/tgui"]
	path = deps/tgui
	url = https://github.com/cyanskies/tgui
[submodule "deps/sfgui"]
	path = deps/sfgui
	url = https://github.com/cyanskies/sfgui
