[submodule "deps/sfml"]
	path = deps/sfml
	url = https://github.com/cyanskies/SFML
[submodule "deps/hades"]
	path = deps/hades
	url = https://github.com/cyanskies/hades
[submodule "deps/thor"]
	path = deps/thor
	url = https://github.com/cyanskies/Thor
